body {
    font-family: Roboto;
    margin: 0;
}

@media (max-width: 800px) {
    .site-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .box-info-container {
        width: 500px;
    }

    .cta {
        display: flex;
        flex-direction: column;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;   
    padding-bottom: 3rem;
    /* border: 1px solid; */
}

.bg-1 {
    background-color: #1f2937;
}
/* ------header------ */

.site-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    width: 70%;
    color: #f9faf8;
}

.site-logo {
    display: flex;
    text-decoration: none;
    font-size: 24px;
    color: #f9faf8;
}


.site-header ul{
    display: flex;
    justify-content: center;
    gap: 1em;
    list-style-type: none;
    text-align: center;
    padding: 0;
}
.site-header li {

    
}


/* ------Split Hero------ */

.split-hero-container {
    display: flex;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;
    margin-bottom: 10vh;
}

.left-hero {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
}

.left-hero p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.left-hero h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

.split-hero-button {
    display: inline-block;
    background-color: #3882f6;
    color: #f9faf8;
    text-decoration: none;
    border: none;
    padding: 1rem ;
    border-radius: 5px;
    width:70px;
    text-align: center;
}

.right-hero-image {
    display: flex;
    border: 1px solid;
    justify-content: center;
    align-content: center;
    flex: 2 0 auto;
    height: 230px;
    /* width: 300px; */
    background-color: gray;
}

.right-hero-image a {
    align-self: center;
    text-align: center;
    color: #f9faf8;
    text-decoration: none;
}

/* ------Middle Section------ */

.header-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 20px 0;
}

.box-info-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 75px;
    flex-wrap: wrap;
    color: #1f2937;
}

.box-info-container a {
    display: flex;
    height: 20ch;
    width: 20ch;
    border-radius: 20px;
    border: 3px solid #3882f6;
}

.box-info-container p {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    width: 20ch;
    flex: 0 1 auto;
    margin: 0;
}

/* ------Quote Section------ */
.bg-q {
    background-color: #e5e7eb;
    color: #1f2937;
}

.quote {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
}

.quote blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
    margin-top: 15vh;
}

.quote p {
    display: inline;
    align-self: flex-end;
    font-size: 2rem;
    margin: 0;
}

/* ------Call to action------ */

.cta{
    display: flex;
    align-items: center;
    box-sizing: content-box;
    gap: 1em;
    padding: 50px 100px;
    margin: 10%;
    flex-wrap: wrap;
    flex: 1 0 auto;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
}

.cta-left h1, .cta-left p {
    margin: 0;
    padding: 0;
}

.signup {
    display: inline-block;
    color: #f9faf8;
    text-decoration: none;
    border: 1px solid #f9faf8;
    padding: 10px ;
    border-radius: 5px;
    width:100px;

    text-align: center;
}

/* ------footer------ */

.footer {
    align-self: center;
    padding: 1rem;
    background-color: #1f2937;
    color: #f9faf8;
}