*{
    border: 1px dotted lightcoral;
}

@media (max-width: 800px) {
    .site-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .box-info-container {
        width: 500px;
    }

    .cta {
        flex-direction: column;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;   
    padding-bottom: 3rem;
    border: 1px solid;
}

/* ------header------ */

.site-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    width: 70%;

}

.site-logo {
    display: flex;
    text-decoration: none;
    font-size: 2em;
    color: black;
}


.site-header ul{
    display: flex;
    justify-content: center;
    gap: 1em;
    list-style-type: none;
    text-align: center;

    padding: 0;
}
.site-header li {

    
}


/* ------Split Hero------ */

.split-hero-container {
    display: flex;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;
}

.left-hero {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
}

.left-hero p, .left-hero h1 {
    margin: 0;
}

.right-hero-image {
    display: flex;
    border: 1px solid;
    justify-content: center;
    align-content: center;
    flex: 1 0 auto;
    height: 200px;
    width: 300px;

}

.right-hero-image a {
    align-self: center;
    text-align: center;
    color: black;
    text-decoration: none;
}

.split-hero-button {

}


/* ------Middle Section------ */

.header-text {
    margin: 20px;
}

.box-info-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 75px;
    flex-wrap: wrap;
}


/* .box-info-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 0;
} */


.box-info-container a {
    display: flex;
    height: 20ch;
    width: 20ch;
    border-radius: 20px;
}

.box-info-container p {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    width: 20ch;
    flex: 0 1 auto;
    margin: 0;
}

/* ------Quote Section------ */

.quote {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
}

.quote blockquote {

}

.quote p {
    display: inline;
    align-self: flex-end;
}

/* ------Call to action------ */

.cta{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 1em;
    padding: 20px;
    margin: 10%;
    flex-wrap: wrap;
    flex: 1 0 auto;

}

.cta-left h1, .cta-left p {
    margin: 0;
    padding: 0;
}

.signup {

}

/* ------footer------ */

.footer {
    align-self: center;
    padding: 1rem;
}